.Header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    background-color: #282c34;
    color: white;
    /* padding: 20px; */
    margin-top: 50px ;
    margin-left: 80px;
    margin-right: 80px;
}
.logo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.info{
    display: flex;
    flex-direction: column;
}
.social-media{
    padding:10px 0px;
    justify-content: space-between;
}