/* .timeline {
    position: relative;
    margin: 20px 0;
    padding: 20px;
  }
  
  .timeline-item {
    margin: 20px 0;
    padding-left: 40px;
    position: relative;
  }
  
  .timeline-year {
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .timeline-event {
    background: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  } */
   .timeline {
    padding: 0px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 0px;
    background-color: black;
    color: white;
  }